{% extends "base.html" %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/aboutStyle.css' %}" />
{% block body_block %}
	<div id=aboutContent>
	<h2>About Sandwich Club</h2>
	<p>
	Sandwich Club is a website created for people who struggle to decide what sandwich to make. <br>
	<br>
	The site was created by Lab Group Five for the web apps development course run Glasgow University.
	<br>
    <h4>Team members:</h4>
    <ul>
	<li>Andrew</li>
	<li>Miles</li>
	<li>Melvin</li>
	<li>George</li>
	</ul>

	</p>
	</div>
{% endblock %}
