
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v4-alpha.getbootstrap.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    {% block includes %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <l
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">
  </head>

  <body>
  <div class="container">
    <!--NAVBAR STYLING-->


    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Sandwich Club</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sandwiches</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'top_ten' %}">Top 10</a>
              <a class="dropdown-item" href="{% url 'latest' %}">Latest</a>
			  <a class="dropdown-item" href="{% url 'random' %}">Random</a>
              <a class="dropdown-item" href="{% url 'more' %}">More...</a>
            </div>
            </li>

		{% if user.is_authenticated %}
		 <li class="nav-item">
            <a class="nav-link" href="{% url 'create_sandwich' %}">Create Sandwich</a>
         </li>
		<li class="nav-item">
        	<a class="nav-link" href="{% url 'profile' user.username %}">Profile</a>
		<li class="nav-item">
        	<a class="nav-link" href="/accounts/logout">Logout</a>
		{% else %}
        <li class="nav-item">
        	<a class="nav-link" href="/accounts/login">Login</a>
        </li>
		<li class="nav-item">
			<a class="nav-link" href="/accounts/register">Register</a>
		</li>

		{% endif %}
		</ul>
        <form class="form-inline my-2 my-lg-0" action = "/SandwichClub_app/search/">
			<input class="form-control mr-sm-2" name="query" type="text" placeholder="Search" value ="{{request.GET.query}}" />
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
	</div>


    <div class="container">
    	<br>
      	<div class="content">
			{% block body_block %}
			{% endblock %}
		</div>

      <hr>

      <footer>
        <div >
        <ul class="footerLinks">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>

        </ul>
        <ul>
            <li><a href="{% url 'about' %}">About</a></li>
			<li><a href="/">Advertising</a></li>
			
        </ul>
        <ul>
            <li><a href="/">FAQ</a></li>
            <li><a href="{% url 'careers' %}">Careers</a></li>

        </ul>
        <ul>
            <li><a href="/">Terms & Conditions</a></li>
            <li><a href="/">Privacy & Cookies</a></li>

        </ul>
        </ul>

        </div>
      </footer>

    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="http://v4-alpha.getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
