{% extends "base.html" %}

{% load staticfiles %}

{% block includes %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homeStyle.css' %}"/>
{% endblock %}

{% block body_block %}
<body>
<div class=crop>
	<img src="{% static 'img/SandwichCover.jpg' %}" alt="Sandwich Cover Art">
</div>

<div id="HomeContent">
	<hr />
	<h1>Welcome to Sandwich Club!</h1>
	<h5> Find, share and rate sandwiches here! </h5>
	<div id="quickSearch">
		<form class="form-inline my-2 my-lg-0" action="/SandwichClub_app/search/">
		<input class="form-control mr-sm-2" name ="query" type="text" placeholder="Search" value ="{{request.GET.query}}" />
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
	<p id="description">Welcome to SandwichClub, the premier online destination for all your sandwich needs. Browse through user submissions to find the latest and greatest sandwiches. Register now to submit your own creations and rate other submissions.</p>
	<hr />

	
</div>
	<div class=usercontent style>
		<h3 style=>Gallery</h3>
		<ul style>
			{% for sandwich in rankings%}
			<li style><div class=picture style><a href="/SandwichClub_app/sandwich/{{sandwich.sid}}"><img style src="{{ MEDIA_URL }}{{ sandwich.picture }}" alt="Sandwich photo" /></div></a></li>
			{% endfor %}
		</ul>
	</div>
<body>
{% endblock %}
