{% extends 'base.html' %}

{% load staticfiles %}
{% block title %}{{ selecteduser.username }} Profile{% endblock %}

{% block includes %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profileStyle.css' %}"/>
{% endblock %}

{% block body_block %}
<div class=profile>
<div class=details>
<h2>{{selecteduser.username}}'s Profile</h2>
    {% if userprofile.picture %}
    <hr>
    <img src="{{ MEDIA_URL }}{{userprofile.picture }}"
	 width="200"
	 height="200"
	 alt="{{selecteduser.username}}" />
    {% else %}
    <img src="{{ MEDIA_URL}}profile_images/defaultImage.png" img width="300" height="300" alt="{{user.username}}"/>
    {% endif %}
    <br>
<br/>

	{% if selecteduser.username == user.username %}
		<form method="post" action="." enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Update" />
		</form>
		<a href = "/accounts/password/change">Change password</a>
	{% else %}
		<p><strong>Website:</strong> <a href="{{userprofile.website}}">
		    {{userprofile.website}}</a></p>
	{% endif %}
	<br>
	<a href = "{% url 'usersSandwiches' selecteduser.username %}">All sandwiches</a>
</div>

<div class="top5">
<h2>Your Top Five Sandwiches:</h2>
<hr>
<ol>
{% for sandwich in sandwiches %}
	
	<li><a href ="/SandwichClub_app/sandwich/{{sandwich.sid}}" >{{ sandwich.title }}</a></li>
	<p>{{ sandwich.description }}</p>
	<br>
{% endfor %}
</ol>
</div>
</div>

<div id="edit_profile"></div>
{% endblock %}