{% extends "base.html" %}

{% block title_block %}
{{ sandwich.title }} - Sandwich Club
{% endblock %}

{% block body_block %}
{% if dne %}
    <div id="dne" style="text-align:center;font-size:32px">
        <br />
        Sandwich not found!<br /> Would you like to
        <a href="{% url 'create_sandwich' %}">make one?</a>
        <br /><br />
    </div>
{% else %}
    <div id="sandwich-title-desc">
        <h2>{{ sandwich.title }}</h2>
        <hr />
        <p>{{ sandwich.description }}</p>
    </div>
    <div id="sandwich-recipe">
        {{ sandwich.recipe }}
    </div>
{% endif %}
{% endblock %}
