{% extends "base.html" %}
{% load staticfiles %}

{% block includes %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sandwich.css' %}"/>
<script src="{% static 'js/sandwich.js' %}"></script>
{% endblock %}

{% block title_block %}
{{ sandwich.title }} - Sandwich Club
{% endblock %}

{% block body_block %}
{% if dne %}
    <div id="dne" style="text-align:center;font-size:32px">
        <br />
        Sandwich not found!<br /> Would you like to
        <a href="{% url 'create_sandwich' %}">make one?</a>
        <br /><br />
    </div>
{% else %}
    <div> <!-- contains the main body of the sandwich -->
        <div id="sandwich-info">
            <div id="sandwich-title-desc">
                <h2>{{ sandwich.title }}</h2>
                <hr/>
                <p>{{ sandwich.description }}</p>
            </div>
            <hr/>
            <div id="sandwich_photos">
                !!Sandwich Pictures Go Here!!
            </div>
        </div>
        <div id="sandwich-recipe" style="display:inline-block;width:38%;height:500px;vertical-align:top">
            <span id="recipe">{{ sandwich.recipe }}</span>
        </div>
    </div>
    <hr />
    <div id="comments" style="min-height:100px;width:100%;">
        !!Comments Go Here!!
    </div>
{% endif %}
{% endblock %}
