{% extends "base.html" %}
{% load staticfiles %}

{% block includes %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sandwich.css' %}"/>
<script src="{% static 'js/sandwich.js' %}"></script>
{% endblock %}

{% block title_block %}
{{ sandwich.title }} - Sandwich Club
{% endblock %}

{% block body_block %}
{% if dne %}
    <div id="dne" style="text-align:center;font-size:32px">
        <br />
        Sandwich not found!<br /> Would you like to
        <a href="{% url 'create_sandwich' %}">make one?</a>
        <br /><br />
    </div>
{% else %}
    <div class="flex-container"> <!-- contains the main body of the sandwich -->
        <section class="content">
            <div id="sandwich-info">
                <div id="sandwich-title-desc">
                    <h2>{{ sandwich.title }} <span id="rating">{{ sandwich.rating }}</span></h2>
                    <hr/>
                    <p>{{ sandwich.description }}</p>
                </div>
                <hr/>
                <img id="sandwich_photo" src="../../media/sandwich_images/{{ sandwich.picture }}" alt="Sandwich photo" />
            </div>
            <div id="sandwich-recipe">
                <span id="recipe">{{ sandwich.recipe }}</span>
            </div>
            <hr />
        </section>
        <section class="content">
            <div id="comments" style="min-height:100px;width:100%;">
                !!Comments Go Here!!
            </div>
        </section>
    </div>
{% endif %}
{% endblock %}
