{% extends "base.html" %}

{% block body_block %}

<h1>Search results</h1>

<form class="form-inline my-2 my-lg-0" action="/SandwichClub_app/search/">
<input class="form-control mr-sm-2" name ="query" type="text" placeholder="Search" value ="{{request.GET.query}}" />
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

{% if sandwiches %}

{% for sandwich in sandwiches %}
<div>
<a href ="/SandwichClub_app/sandwich/{{sandwich.sid}}" >{{ sandwich.title }}</a><br>
<!--<a href ="/SandwichClub_app/profile/{{sandwich.maker.user.username}}" >{{ sandwich.maker.user.username }}</a><br>-->
<p>{{ sandwich.description }}</p><br>
</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if sandwiches.has_previous %}
            <a href="?page={{ sandwiches.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query}}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ sandwiches.number }} of {{ sandwiches.paginator.num_pages }}.
        </span>

        {% if sandwiches.has_next %}
            <a href="?page={{ sandwiches.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query}}{% endif %}">next</a>
        {% endif %}
    </span>
</div>

{% else %}

<div>
<p>No such sandwich found.</p>
</div>

{% endif %}

{% endblock %}
