.flex-container{
	display:flex;
	flex-direction:column;
	min-height:300px;
}
section.content{
	flex:1;
}
#sandwich-info{
	width:60%;
	min-height:500px;
	margin-right:1.5%;
	display:inline-block;
	vertical-align:top;
}
#sandwich-info div{
	width:100%;
}
#sandwich-info h2{
	width:100%;
	text-align:center;
	margin-top:8px;
	margin-bottom:-8px;
}
#sandwich-info hr{
	width:85%;
}
#sandwich-info p{
	width:95%;
	margin-left:auto;
	margin-right:auto;
}
#sandwich_photo{
	max-width:100%;
	max-height:400px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
#sandwich-recipe{
	width:38%;
	min-height:500px;
	display:inline-block;
	vertical-align:top;
}
#recipe{
    visibility:hidden;
}
.ingredient{
    width:90%;
    height:60px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2px;
    margin-top:2px;
    text-align:center;
    line-height:60px;
    font-size:24pt;
	overflow:hidden;
	text-shadow: -1px 0 #FFFFFF,0 1px #FFFFFF,1px 0 #FFFFFF,0 -1px #FFFFFF;
}
.ingredient img{
	width:100%;
	height:inherit;
}
#rating{
	font-size:80%;
}
#comments{
	min-height:100px;
	width:100%;
}
